


nav.navigator {
    padding-left: 18em;
}


/* Temporary */

#test-map button {
    margin : 0.3em;
}

.test-map-dims {
    margin-top: 0.3em;
    width: 600px;
    height: 400px;
}



/* Tags */

section.close a.close[data-screen=areas] {
    margin-top: 1.5em;
}


/* IDs */

#gui-restricted > .nugget.account:first-of-type {
    margin-top: 5em;
}

#agentallows .functions {
    float: right;
}


/* Classes */

.account.nugget {
    min-height: 8em;
}

.allows .nugget.agent:first-of-type {
    margin-top: var(--dim-top-spacer);
}

.agents .nugget.agents:first-of-type {
    margin-top: var(--dim-top-spacer);
}

.areas {
    clear: both;
    margin-top: 4.5em;
    margin-left: 3vw;
    overflow: auto;
}
.areas + * {
    clear: both;
}
.area {
    float: left;
    margin: 0;
}
.area:nth-child(10n+1) {
    clear: left;
}
.area button {
    display: inline-block;
    width: 5em;
}

.contractors .nugget.contractors:first-of-type {
    margin-top: var(--dim-top-spacer);
}

.districts {
    clear: both;
    margin-top: 5em;
    margin-left: 3vw;
    overflow: auto;
}
.districts + * {
    clear: both;
}
.district {
    float: left;
    margin: 0;
}
.district:nth-child(5n+1) {
    clear: left;
}
.district button {
    display: inline-block;
    width: 5em;
}

.formfields details {
    margin-left: 1.5em;
}
.formfields details pre.nugget {
    margin: 0.5em 5em 0.5em 5em;
    background-color: var(--color-background-formsection-preamble);
    white-space: pre-wrap;
}

/*
.products .new.nugget, .formfields .new.nugget {
    top: 9.4em;
}
*/
.products .new.nugget + section, .formfields .new.nugget + section {
    margin-top: var(--dim-top-spacer);
}


.tariff-past {
    text-decoration: line-through;
    color: var(--color-text-strike);
}
.tariff-future {
    color: var(--color-text-warning);
    font-weight: bold;
}


/* Logos */

img.logo {
    height: 6em;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.6em;
    border-color: var(--color-border-main);
}

#gui-restricted > img.logo {
    position: fixed;
    z-index: 41;
    right: 2vw;
    top: 0.8em;
    border-radius: 1em;
    width: 3.4em;
    height: 3em;
}



/* Portraits */

img.portrait, .nugget.fundraiser .portrait.large, .nugget.user .portrait.large {
    border-style: solid;
    border-width: 1px;
    border-radius: 3em;
    border-color: var(--color-border-main);
    height: 360px;
}

.nugget.fundraiser a.portrait, .nugget.user a.portrait {
    position: relative;
    z-index: 10;
    float: right;
    margin: 0.5em 0.5em 0.5em 0;
}

.nugget.fundraiser img.portrait, .nugget.user img.portrait {
    border-radius: 1.2em;
    height: 4.8em;
}

.nugget.manager > .portrait {
    position: static;
    float: right;
    margin: 0.5em 0.5em 0.5em 0;
}

.nugget.manager img.portrait {
    border-radius: 1.2em;
    height: 7.5em;
}


/* Forms */

input[name=bankDetailsHash] {
    width: 40em;
    height: 3em;
    font-size: 0.625em;
    text-align: center;
    font-family: "arial","sans-serif";
}


/* MEDIA QUERIES */

@media screen and (max-width: 74em) {
    .products .new.nugget, .formfields .new.nugget {
        top: 11.4em;
        width: 70vw;
    }
}
@media screen and (max-width: 44em) {
    .products .new.nugget, .formfields .new.nugget {
        top: 13.4em;
        width: 80vw;
    }
}
@media screen and (max-width: 38em) {
    .products .new.nugget, .formfields .new.nugget {
        top: 15.4em;
        width: 80vw;
    }
}
@media screen and (max-width: 30em) {
    .products .new.nugget, .formfields .new.nugget {
        top: 22.4em;
        width: 75vw;
    }
}

