
document.addEventListener(
    'DOMContentLoaded',
    function ( ) {

/*

Examples

        // Google Maps API (JS)
    var key                 = '----------------------------------------';
    var lang                = 'en';
        if (document.querySelector('html').lang) {
            lang            = document.querySelector('html').lang;
        }
    var script              = document.createElement ('script');
        script.src          = 'https://maps.googleapis.com/maps/api/js?key='+key+'&language=' + lang;
        document.getElementsByTagName('head')[0].appendChild (script);

        // Leaflet (JS)
    var script              = document.createElement ('script');
        script.src          = 'https://unpkg.com/leaflet@1.4.0/dist/leaflet.js';
        script.integrity    = 'sha512-++++++++++++++++++++++++++++++==';
        script.setAttribute ('crossorigin','');
        document.getElementsByTagName('head')[0].appendChild (script);

        // Leaflet (CSS)
    var link                = document.createElement ('link');
        link.rel            = 'stylesheet';
        link.src            = 'https://unpkg.com/leaflet@1.4.0/dist/leaflet.css';
        link.integrity      = 'sha512-++++++++++++++++++++++++++++++==';
        link.setAttribute ('crossorigin','');
        document.getElementsByTagName('head')[0].appendChild (link);

*/

    }

);

