
<!-- HOME -->

<h2>Welcome, {{currentUser.name}}</h2>

<div class="nugget">
  <div class="table">
      <div class="row">
        <span class="column">Notes:</span>
        <span class="column">{{currentUser.notes}}</span>
      </div>
  </div>
  <div id="home-test-target"></div>
</div>

