
<!-- LOCK -->

<section class="ok">

  <h3>Quit</h3>

  <a id="lock-lock" class="navigator atom">Lock</a>

  <a id="lock-log-out" class="navigator atom">Log out</a>

  <button>Cancel</button>

</section>

