
-- NUMERIC KEYPAD

<section class="pinpad">

  <section class="display">
    <span>&#9733;&#9733;&#9733;&#9733;</span>
  </section>

  <a class="key">1</a>
  <a class="key">2</a>
  <a class="key">3</a>

  <a class="key">4</a>
  <a class="key">5</a>
  <a class="key">6</a>

  <a class="key">7</a>
  <a class="key">8</a>
  <a class="key">9</a>

  <a class="key" data-type="clear">&#215;</a>
  <a class="key">0</a>
  <a class="key" data-type="enter">&#187;</a>

</section>


